<footer class="footer-basic-centered">

    <p class="footer-company-motto">Autonline - internetinė svetainė, skirta automobilių skelbimų talpinimui, peržiūrai ir pirkimui.</p>
    <p class="footer-company-name">Autonline © 2018</p>

</footer>
</body>
</html>