<% include partials/header %>

    <div class="main-content">
        <div class="container">
            <div class="search-container"></div>
        </div>
        <div class="container">
            <div class="recommended-container">
                <div class="section-title">Rekomeduojami skelbimai</div>

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        
                            <div class="recommended-thumbnail" style="background: url('https://silodrome.com/wp-content/uploads/2017/10/BMW-M3-CAR-1-1600x1010.jpg'); background-size:cover"></div>
                       
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        
                            <div class="recommended-thumbnail" style="background: url('https://images.cdn.circlesix.co/image/1/700/0/uploads/articles/23348549376_b62dddc34e_o-565c25b9a9de7.jpg'); background-size:cover"></div>
                       
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        
                            <div class="recommended-thumbnail" style="background: url('http://cdn.bmwblog.com/wp-content/uploads/2017/04/A-Mystic-Blue-BMW-E46-M3-Gets-Aftermarket-Goodies-At-European-Auto-Source-4-750x500.jpg'); background-size:cover"></div>
                        
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        
                            <div class="recommended-thumbnail" style="background: url('https://dmi3w0goirzgw.cloudfront.net/gallery-images/original/234000/400/234472.jpg'); background-size:cover"></div>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>

    <% include partials/footer %>